<?xml version="1.0" encoding="utf-8"?>
<plugin
    xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.plugins.openwith"
    version="0.0.1">

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <name>OpenWith</name>
    
    <description>
       This plugin sould allow you to open files in other apps.
    </description>

    <license>MIT</license>

    <js-module src="www/openwith.js" name="OpenWith">
        <clobbers target="window.plugins.openWith" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="OpenWith">
                <param name="ios-package" value="OpenWith" />
            </feature>
        </config-file>

        <header-file src="src/ios/CDVOpenWith.h" />
        <source-file src="src/ios/CDVOpenWith.m" />
    </platform>
   
</plugin>
